html, body, h1, form, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;
  line-height: 1;
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 4.8em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.6em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  text-align: center;
}

#goal-entry {
  margin-top: 30px;
}

#timer, #rating {
  margin-top: 40px;
  font-size: 4.8em;
}

#goal-display {
  font-size: 2.6em;
}

form {
  margin-top: 60px;
  padding: 20px;
}

form input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
}

form input[type=text] {
  background: #eee;
  margin: 5px auto;
  padding: 10px 10px;
  width: 255px;
}

form input[type=submit] {
  display: block;
  cursor: pointer;
  background: #777;
  color: #fff;
  margin: 10px auto 0 auto;
  padding: 10px 10px;
  text-transform: uppercase;
  width: 275px;
}

form input[type=submit]:hover {
  background: #aaa;
}

form input:not([type=submit]):focus {
  background: #fff;
}